DB_ROOT_PASSWORD=admin
ADMIN_PASSWORD=admin
SITE_NAME=localhost
SITE_HOSTNAME=http://localhost:8000
FRAPPE_BRANCH=version-16
CRM_BRANCH=main
FRAPPE_ENV=production
MIGRATE_ON_START=1
SEED_DEMO_DATA=0
BUILD_ASSETS_ON_START=0
FRAPPE_HTTP_PORT=8000
FRAPPE_SOCKETIO_PORT=9000
MAILPIT_HTTP_PORT=8025
